*{
    margin: 10px;
    padding: 10px;
}
.box{
    
    background-color: beige;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    flex-wrap: wrap;
    overflow: auto;
}

.listBox{
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    margin: 5px;
    padding: 2px;
    width: 98%;
    justify-content: space-between;
}

.leftbox{
    width: 670px;
    height: 350px;
    
    display: flex;
    margin: 2px;
    padding: 5px;
    flex-wrap: wrap;
}

.rightbox{
    
    height: 400px;
    display: flex;
    align-items: center;
}
img{
    height: 200px;
    width: 350px;
    
}

p{
    text-align: justify;
}

h3{
    margin-left: 15px;
}